
@import url('https://fonts.googleapis.com/css?family=Caveat');

#message {
    font-family: 'Caveat', cursive;
    font-size: 12rem;
}

.box {
	width: 35rem;
	height: 35rem;
	background: rgb(248, 248, 248);
    margin: auto;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 7px 17px 8px rgb(99, 99, 99);
}